<footer>
  <ul class="menu wrapper">
    <li class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, consequatur.</li>
    <li class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, consequatur.</li>
    <li class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, consequatur.</li>
    <li class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, consequatur.</li>
    <li class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, consequatur.</li>
    <li class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, consequatur.</li>
    <li class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, consequatur.</li>
    <li class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, consequatur.</li>
  </ul>
</footer>